<div class="container" id="home">
	<h5>availble to borrow</h5>
	<hr>
	<div id="available" class="book-list">
		<dl ng-repeat="book in books">
			<dt>
				<a href="">
					<img src="" alt="" ng-src="{{book.image}}">
				</a>
			</dt>
			<dd>
				<a ng-click="selectOneBook(book)" href="">{{book.title}}</a>
			</dd>
		</dl>
		<a href="javascript:void(0);" class="more" ng-click="showMore($event, 'available')">{{moreAvailable}}</a>
	</div>

	<h5>unavailable to borrow</h5>
	<hr>
	<div id="unavailable" class="book-list">
		<dl ng-repeat="book in books">
			<dt>
				<a href="">
					<img src="" alt="" ng-src="{{book.image}}">
				</a>
			</dt>
			<dd>
				<a ng-click="selectOneBook(book)" href="">{{book.title}}</a>
			</dd>
		</dl>
		<a href="javascript:void(0);" class="more" ng-click="showMore($event, 'unavailable')">{{moreUnavailable}}</a>
	</div>	

</div>
