<div class="container" id="home">
	<!-- <h1>Welcome to library system !</h1>
	<hr>
	<table class="table table-bordered" id="bookList">
		<thead>
			<tr>
				<th>#</th>
				<th>Publisher</th>
				<th>Pubdate</th>
				<th>Author</th>
				<th>Image</th>
				<th>Title</th>
				<th>Summery</th>
				<th>Price</th>
			</tr>
		</thead>
		<tfoot></tfoot>
		<tbody>
			<tr ng-repeat="book in books">
				<td><span>{{book.id}}</span></td>
				<td><span>{{book.publisher}}</span></td>
				<td><span>{{book.pubdate}}</span></td>
				<td>
					<span ng-repeat="author in book.author">{{author}}</span>
				</td>
				<td>
					<img ng-src="{{book.image}}" alt="">
				</td>
				<td><a ng-click = "selectOneBook(book)">{{book.title}}</a></td>
				<td><span>{{book.summary}}</span></td>
				<td><span>{{book.price}}</span></td>
			</tr>
		</tbody>
	</table> -->
	<!-- <h5>Welcome to library system !</h5> -->
	<!-- <hr> -->
	<!-- <ul class="row-fluid show-grid" id="book_list">
      <li class="span4" ng-repeat="book in books">
        <div class="cover">
          <a ng-click="selectOneBook(book)" title="{{book.title}}">
            <img ng-src="{{book.image}}" class="">
          </a>
        </div>
        <div class="info">
          <h4 class="title">
            <a ng-click="selectOneBook(book)" title="{{book.title}}">
       		{{book.title}}
            </a>
          </h4>
          <p class="author">
            Author: <span ng-repeat="author in book.author">{{author}}</span>
          </p>
          <p class="publisher">
            Publisher: {{book.publisher}}
          </p>
          <p class="year">
            Publish Year: {{book.pubdate}}
          </p>
        </div>
      </li>
    </ul> -->
	
    <!-- <div class="pagination">
	  <ul>
	    <li><a href="#">Prev</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">Next</a></li>
	  </ul>
	</div> -->
	<h5>availble to borrow</h5>
	<hr>
	<div id="available" class="book-list">
		<dl ng-repeat="book in books">
			<dt>
				<a href="">
					<img src="" alt="" ng-src="{{book.image}}">
				</a>
			</dt>
			<dd>
				<a ng-click="selectOneBook(book)" href="">{{book.title}}</a>
			</dd>
		</dl>
		<a href="javascript:void(0);" class="more" ng-click="showMore($event, 'available')">{{moreAvailable}}</a>
	</div>

	<h5>unavailable to borrow</h5>
	<hr>
	<div id="unavailable" class="book-list">
		<dl ng-repeat="book in books">
			<dt>
				<a href="">
					<img src="" alt="" ng-src="{{book.image}}">
				</a>
			</dt>
			<dd>
				<a ng-click="selectOneBook(book)" href="">{{book.title}}</a>
			</dd>
		</dl>
		<a href="javascript:void(0);" class="more" ng-click="showMore($event, 'unavailable')">{{moreUnavailable}}</a>
	</div>	

</div>
