<div class="container" id="Home">
	<h1>Welcome to library system !</h1>
	<hr>
	<table class="table table-bordered" id="bookList">
		<thead>
			<tr>
				<th>#</th>
				<th>Publisher</th>
				<th>Pubdate</th>
				<th>Author</th>
				<th>Image</th>
				<th>Title</th>
				<th>Summery</th>
				<th>Price</th>
			</tr>
		</thead>
		<tfoot></tfoot>
		<tbody>
			<tr ng-repeat="book in books">
				<td><span>{{$index}}</span></td>
				<td><span>{{book.publisher}}</span></td>
				<td><span>{{book.pubdate}}</span></td>
				<td>
					<span ng-repeat="author in book.author">{{author}}</span>
				</td>
				<td>
					<img ng-src="{{book.image}}" alt="">
				</td>
				<td><span>{{book.title}}</span></td>
				<td><span>{{book.summary}}</span></td>
				<td><span>{{book.price}}</span></td>
			</tr>
		</tbody>
	</table>
</div>